@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

canvas {
	display: block;
	vertical-align: bottom;
  }
  
  #particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f3eff5

	;
  }
  

  a,
  a:visited {
	color: #e34234;
	transition: 0.25s;
  }
  
  a:hover,
  a:focus {
	color: #ba160c;
  }
*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {

  background-position: 100px;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#city {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  left: 5%;
}

.hide{
  visibility: hidden;
  opacity: 0%;
}

#legend h1 {
  margin: 0;
  font-size: 32px;
  margin-right: 5px;
  font-weight: 800;
  text-shadow: 3px 3px #B6E02F(200, 198, 198);
}

#legend{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: #7F06B7;
  cursor: pointer;
}

ul li a {
  width: 376px;
  height: 50px;
  background-color: #7F06B7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  font-size: 28px;
  font-weight: 500;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: .2s;
  visibility: visible;
  opacity: 100%;
}

ul li a:hover{
  background-color: #B6E02F;
  transition: .2s;
}

.bg_items{
  display: flex;
  height: 100vh;
}

#logo img{
  width: 220px;
  top: 25px;
  left: 5%;
  position: fixed;
}

#go_sintercom #circle {
  bottom: -350px;
  left: -150px;
  position: fixed;
  z-index: 0;
}

#go_sintercom #go{
  z-index: 100;
  position: fixed;
  bottom: 40px;
  left: 30px;
  width: 180px;
}

#bg_imgs #woman{
  right: 40px;
  position: fixed;
  z-index: 1;
  bottom: -30px;
  height: 70%;
  z-index: 1;
}

#bg_imgs #purple {
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  #bg_imgs #woman{
  height: 60%;
  right: -90px;
}

}

@media (max-width: 999px) {

  .bg_items {
   flex-direction: column;
  }
  
  #go_sintercom{
    position: fixed;
    right: 150px;
  }

  #go_sintercom #circle  {
    left: -200px;
    top: -350px;
    position: absolute;
  }

  #go_sintercom #go{
    left: -80px;
    top: 30px;
    z-index: 200px;
    position: absolute;
  }

  #city{
    width: 100vw;
    left: 0;
    justify-content: flex-start;
    margin-top: 20%;
    aling-items: center;
  }

  #bg_imgs #woman {
    position: absolute;
    bottom: -90px;
    right: 100px;
  }

  #bg_imgs #purple{
    transform: rotate(90deg);
    height: max-content;
    left: 20%;
    bottom: -500px;
    height: 110vw;
  }

  body {
    background-position: 50px;
    background-size: contain;
  }
}

@media (max-width: 879px){
  body{
  background-position: -200px;
  }

  #bg_imgs #purple{
    bottom: -400px;
  }
}

@media (max-width: 800px){
  #city {
    margin-top: 25%;
  }
  #bg_imgs #purple{
    bottom: -430px;
  }

  #go_sintercom #circle  {
    left: -100px;
    top: -180px;
    width: 300px;
  }
  #go_sintercom #go{
    left: -30px;
    top: 25px;
    width: 150px;
  }
  #logo img{
    width: 200px;
  }
}

@media (max-width: 680px){
  #bg_imgs #purple{
    bottom: -330px;
  }
}

@media (max-width: 599px){
  #bg_imgs #woman {
    height: 60%;
    right: 40px;
  }

  #legend h1 {
    font-size: 28px;
	margin-bottom: 20px;
  }

  ul li a {
    width: 330px;
    height: 40px;
    font-size: 24px;
  }
  #city {
    margin-top: 35%;}

  #logo img {
    width: 180px;
    top: 30px;
  }

  #go_sintercom #go {
    left: 10px;
    top: 30px;
    width: 120px;
  }

  #go_sintercom #circle {
    left: -20px;
    top: -80px;
    width: 200px;
  }
  #bg_imgs #purple{
    bottom: -230px;
  }
  body{
    background-repeat: no-repeat;
  }
}

@media (max-width: 399px){
  #logo img {
    width: 350px;
  }

  #go_sintercom #go {
    left: 25px;
  }

  #city{
    margin-top: 40%;
  }

  #go_sintercom #circle {
    left: -10px;
    top: -80px;
    width: 200px;
  }
}
